@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Inter", sans-serif;
}

header{
    width: 75%;
    margin: 0 auto;
    background: linear-gradient(180.00deg, rgb(73, 73, 73) 0%,rgba(0, 0, 0, 0.959) 100%);
nav{
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 40px;
}
.branding{
    font-size: 5rem;
    font-style: italic;
    color: orangered;
}
.nav-bar > ul {
    display: flex;
}
.nav-bar > ul >li{
    list-style: none;
    padding: 10px;
}
.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.banner-text > h1{
    color: rgb(255, 255, 255);
    font-size: 78px;
    font-weight: 900;
}
.Shape{
    font-family: "Grey Qo", cursive;
    font-size: 120px;
    font-weight: 200;
}
.banner-text > p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 400;
}
.red-btn{
    font-size: 18px;
    padding: 16px 40px;
    border-radius: 40px;
    background: rgb(230, 83, 60);
    border: none;
    margin-top:20px ;
    color: white;
}
.normal-btn{
    font-size: 18px;
    padding: 16px 40px;
    border-radius: 40px;
    background: transparent;
    border: none;
    margin-top:20px ;
    border: 1px solid white;
    color: white;
}
.floting-content1{
    width: 186px;
    height: 78px;
    backdrop-filter: blur(10px);
    color: white;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    right: 110px;
    top: 80px;
    background-color: rgba(255, 255, 255, 0.116);
}
.floting-content2{
    display: flex;
    justify-content: space-around;
    align-items: center;    
    width: 166px;
    height: 78px;
    backdrop-filter: blur(10px);
    color: white;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    right: 410px;
    bottom: 120px;
    background-color: rgba(255, 255, 255, 0.116);
}
.dot{
    height: 25px;
    width: 25px;
    background-color: #cc3030;
    border-radius: 50%;
}